<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbconnection" value="Data Source=GPDC;User Id=develope;Password=merlin;"/>
    <add key="dbport" value="1521"/>
    <add key="dbpasswd" value="merlin"/>
    <add key="dbservice" value="GPDC"/>
    <add key="dbhost" value="192.168.144.234"/>
    <add key="rootFolder" value="\\ace-fs2\SecondaryData\Annuals\"/>
    <add key="AnnualAccountingFolder" value="\\ace-fs2\SecondaryData\Annuals\AnnualAccounting\"/>
    <add key="AnnualPlanFolderd" value="k:\Annuals\AnnualPlan"/>
    <add key="AnnualPlanFolder" value="\\ace-fs2\SecondaryData\Annuals\AnnualPlan"/>
    <add key="CJISMemoFolder"   value="\\ace-fs2\SecondaryData\Annuals\CJIS"/>
    <add key="AccountingURL" value="d:\GPDConline\GMS\ReportServer\Reports\Legal-AnnualAccountingRevised_2015.rdl"/>
    <add key="AnnualPlanURL" value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/GMS/AnnualPlan/YBAnnualPLan.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="CJIS_ProfileURL"  value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/TEST-CJIS.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="CJIS_ProfileURLd"  value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/GMS/CJISWardProfile.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="CJIS_MemoURL"  value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/GMS/CJISMemorandum.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="targetDirectory" value="c:\temp"/>
  </appSettings>
</configuration>