<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbconnection" value="Data Source=GPDC;User Id=develope;Password=merlin;"/>
    <add key="dbport" value="1521"/>
    <add key="dbpasswd" value="merlin"/>
    <add key="dbservice" value="GPDC"/>
    <add key="dbhost" value="192.168.144.234"/>
    <add key="rootFolder" value="k:\Annuals\"/>
    <add key="logFile" value="k:\Annuals\AnnualsLogFile.txt"/>
    <add key="AnnualAccountingFolder" value="c:\Annuals\AnnualAccounting"/>
    <add key="AnnualPlanFolder" value="k:\Annuals\AnnualPlan"/>
    <add key="CJISMemoFolder"   value="k:\Annuals\CJIS"/>    
    <add key="AccountingURL" value="d:\GPDConline\GMS\ReportServer\Reports\Legal-AnnualAccountingRevised_2015.rdl"/>
    <add key="AnnualPlanURL" value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/GMS/AnnualPlan/YBAnnualPLan.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="CJIS_MemoURL"     value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/GMS/CJISMemorandum.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="CJIS_ProfileURL"  value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/MDPD-WardProfile.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="CJIS_AuthURL"  value="http://192.168.60.52/jasperserver/rest_v2/reports/reports/GMS/CJIS_SSN_Auth.pdf?j_username=jasperadmin&amp;j_password=Shitjecifv44&amp;WARD_NUMBER="/>
    <add key="targetDirectory" value="c:\temp"/>
  </appSettings>
</configuration>
